{% extends "base.html" %}
{% block content %}
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">a</span>
  <input type="text" class="form-control" placeholder="A" aria-describedby="sizing-addon3">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">b</span>
  <input type="text" class="form-control" placeholder="B" aria-describedby="sizing-addon3">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">Strings</span>
  <input type="text" class="form-control" placeholder="Strings" aria-describedby="sizing-addon3">
</div>
{% endblock %}
