{% extends "base.html" %}
{% block content %}
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-green">
  <a href="caesar" >
    <h1>Caesar Shift</h1>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-yellow">
  <a href="inverse" >
    <h1>Nghịch Đảo</h1>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-purple">
  <a href="vigenere" >
    <h1>Vigenere</h1>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-lime">
  <a href="gcd" >
    <h1>Ước Chung</h1>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-large tile-red">
  <a href="/affine" >
    <h1 class="tile-text">Affine</h1>
  </a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-carrot">
  <a href="#" >
    <h1 class="tile-text">I'm the 2!</h1>
  </a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-green">
  <a href="#" >
    <h1 class="tile-text">I'm the 2!</h1>
  </a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-clouds">
  <a href="#" >
    <h1 class="tile-text">I'm the 2!</h1>
  </a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-silver">
  <a href="#" >
    <h1 class="tile-text">I'm the 2!</h1>
  </a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-orange">
  <a href="#" >
    <h1 class="tile-text">I'm the 2!</h1>
  </a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="thumbnail tile tile-wide tile-danger">
  <a href="#" >
    <h1 class="tile-text"> </h1>
  </a>
</div>
</div>
{% endblock %}
