{% extends "base.html" %}
{% block content %}
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">Dữ liệu nhập vào</span>
  <input type="text" class="form-control" placeholder="Strings" aria-describedby="sizing-addon3" id="input">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">Khoá</span>
  <input type="text" class="form-control" placeholder="Strings" aria-describedby="sizing-addon3" id="key">
</div>
<div>
  <button onclick="encryptVigenere()">Encrypt</button>
  <button onclick="decryptVigenere()">Decrypt</button>
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">Kết quả</span>
  <input type="text" class="form-control" placeholder="Kết quả" aria-describedby="sizing-addon3" id="result">
</div>
<script>
  function encryptVigenere(){
    var plain_text = $("#input").val();
    var key = $("#key").val();
    $.ajax({
      url: "/v1.0/encrypt/4",
      type: "POST",
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify({plain_text: plain_text, key: key }),
      success: function(data){
        console.log(JSON.stringify(data));
        $("#result").val(data['result']['cipher_text']);
      }
    });
  }
  function decryptVigenere(){
    var cipher_text = $("#input").val();
    var key = $('#key').val();
    $.ajax({
      url: "/v1.0/decrypt/4",
      type: "POST",
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify({cipher_text: cipher_text, key: key}),
      success: function(data){
        console.log(JSON.stringify(data));
        $("#result").val(data['result']['plain_text']);
      }
    })
  }
</script>
{% endblock %}
